<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Login - PartyNow</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
</head>

<body class="page">
    <div class="card">
        <h1>Login</h1>
        <p>Welcome back to PartyNow</p>

        <!-- Flash messages (errors like invalid login) -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flash">
                    {% for msg in messages %}
                        <p>{{ msg }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <form class="form" action="{{ url_for('login') }}" method="POST">
            <label>
                Email
                <input 
                    name="email"
                    type="email"
                    placeholder="joey@example.com"
                    required
                >
            </label>

            <label>
                Password
                <input 
                    name="password"
                    type="password"
                    placeholder="********"
                    required
                >
            </label>

            <button class="btn" type="submit">Continue</button>
        </form>

        <p style="margin-top: 15px;">
            Don’t have an account?
            <a class="link" href="{{ url_for('signup') }}">Sign up</a>
        </p>

    
    </div>
</body>
</html>