<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PartyNow</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">

</head>

<body class="page">
    <div class="card">
        <h1>PartyNow</h1>
        <p>Turn your room into the Perfect party zone with AI</p>

        <div class="btn-row">
            <a class="btn" href="{{ url_for('login') }}">Get Started</a>
            <a class="btn btn-ghost" href="{{ url_for('upload') }}">Skip to Upload</a>
        </div>
    </div>

</body>
</html>